<h3>properties/search.html.erb</h3>
<div>
	<h3>hello world</h3>
	<p id="prop-val"><%= @v %></p>
	<p><%= @property.prop %></p>
	<p><%= @property.id %></p>
	<p><%= @property.address %></p>
	<p><%= @property.postcode %></p>
	<p><%= @property.flat %></p>
		


</div>
